
.mapContainer {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;


}


.info {
    color: #fff;
    position: fixed;
    top: 20;
    left: 20px;
    z-index: 99;
    background-color: rgba(0, 0, 0, .5);
    border-radius: 20px;
    padding: 10px;
}